

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 2rem;
}
main{

    display: grid;
    place-content: center;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: 1rem;
}

h1{
    padding: 1rem;
}


#box{
    padding: 5rem;
}

@media (width <= 500px){
    footer{
        gap: 1rem;
        & p{
            font-size: 0.875rem;
        }
    }
    main{
        padding: 2rem;

        & #box{
            font-size: 0.875rem;
            padding: 1rem;
            text-align: center;
        }
        & input{
            max-width: 150px;
        }
    }
}
